body, html {
  color: #353748;
  background-color: #f7f7f7;
  height: 100%;
  /* background: linear-gradient(45deg, #8711c1 30%, #2472fc 100%); */
}

.gradient {
  background: linear-gradient(45deg, #8711c1, #2472fc);
  color: #f7f7f7;
}

.center {
  /* background-color: gold; */
  text-align: center;
}

.App-logo {
  margin-top: 20px;
  max-width: 600px;
  pointer-events: none;
}

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */